<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.css" th:href="@{/plugins/fontawesome-free/css/all.css}"/>
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" th:href="@{plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">
    <!-- iCheck -->
    <link rel="stylesheet" href="../plugins/icheck-bootstrap/icheck-bootstrap.min.css" th:href="@{plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
    <!-- JQVMap -->
    <link rel="stylesheet" href="../plugins/jqvmap/jqvmap.min.css" th:href="@{plugins/jqvmap/jqvmap.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" href="../css/adminlte.min.css" th:href="@{/css/adminlte.min.css}">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="../plugins/overlayScrollbars/css/OverlayScrollbars.min.css" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="../plugins/daterangepicker/daterangepicker.css" th:href="@{/plugins/daterangepicker/daterangepicker.css}">
    <!-- summernote -->
    <link rel="stylesheet" href="../plugins/summernote/summernote-bs4.css" th:href="@{/plugins/summernote/summernote-bs4.css}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <div th:replace="fragments/navbar :: navbar"></div>

        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div layout:fragment="content"></div>

        <div th:replace="fragments/footer :: footer"></div>
    </div>

    <!-- jQuery -->
    <script src="../plugins/jquery/jquery.min.js" th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="../plugins/jquery-ui/jquery-ui.min.js" th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- ChartJS -->
    <script src="../plugins/chart.js/Chart.min.js" th:src="@{/plugins/chart.js/Chart.min.js}"></script>
    <!-- Sparkline -->
    <script src="../plugins/sparklines/sparkline.js" th:src="@{/plugins/sparklines/sparkline.js}"></script>
    <!-- JQVMap -->
    <script src="../plugins/jqvmap/jquery.vmap.min.js" th:src="@{/plugins/jqvmap/jquery.vmap.min.js}"></script>
    <script src="../plugins/jqvmap/maps/jquery.vmap.world.js" th:src="@{/plugins/jqvmap/maps/jquery.vmap.world.js}"></script>
    <!-- jQuery Knob Chart -->
    <script src="../plugins/jquery-knob/jquery.knob.min.js" th:src="@{/plugins/jquery-knob/jquery.knob.min.js}"></script>
    <!-- daterangepicker -->
    <script src="../plugins/moment/moment.min.js" th:src="@{/plugins/moment/moment.min.js}"></script>
    <script src="../plugins/daterangepicker/daterangepicker.js" th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js" th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
    <!-- Summernote -->
    <script src="../plugins/summernote/summernote-bs4.min.js" th:src="@{plugins/summernote/summernote-bs4.min.js}"></script>
    <!-- overlayScrollbars -->
    <script src="../plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js" th:src="@{/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
    <!-- FastClick -->
    <script src="../plugins/fastclick/fastclick.js" th:src="@{/plugins/fastclick/fastclick.js}"></script>
    <!-- AdminLTE App -->
    <script src="../js/adminlte.js" th:src="@{/js/adminlte.js}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="../js/pages/dashboard.js" th:src="@{/js/pages/dashboard.js}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../js/demo.js" th:src="@{/js/demo.js}"></script>
</body>
</html>